<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\src\Script.Install.Creator\packages.config" />
  <repository path="..\..\src\Script.Install.Creator.Library\packages.config" />
  <repository path="..\..\src\Script.Install.Creator.Tests\packages.config" />
</repositories>