<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_AutoMapper_dll_1127988348_WixComponent" Guid="891DB9C0-BE03-4187-B2C6-CBB00B738B6E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1307623245_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_754738822_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_AutoMapper_dll_504547711_WixFile" Name="AutoMapper.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\AutoMapper.dll" />
      </Component>
      <Component Id="Id_Castle_Core_dll_1769486719_WixComponent" Guid="1E95AB17-5419-4596-ADF8-4A5251028B7C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1230541254_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1696856430_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Core_dll_1723656437_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\Castle.Core.dll" />
      </Component>
      <Component Id="Id_Castle_Windsor_dll_972646114_WixComponent" Guid="E40B991C-56BC-42E6-8081-0E86EFF4B92E" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_400375462_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_2044918248_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Castle_Windsor_dll_1160083484_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\Castle.Windsor.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Core_dll_1604569002_WixComponent" Guid="3BEB9D11-A487-4EAC-BE2F-430458EA24BC" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1726876426_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1666727595_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Core_dll_1455647733_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\Common.Logging.Core.dll" />
      </Component>
      <Component Id="Id_Common_Logging_dll_1759242579_WixComponent" Guid="3862F146-3124-45F6-B40C-CF1261C4AE8A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1449987553_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1009840930_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_dll_378894772_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\Common.Logging.dll" />
      </Component>
      <Component Id="Id_Common_Logging_Log4Net1213_dll_539454524_WixComponent" Guid="EBA4CD76-8A05-448B-ADCA-7F2CE7C462A9" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_751844889_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_341394906_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Common_Logging_Log4Net1213_dll_1702188684_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\Common.Logging.Log4Net1213.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1445610115_WixComponent" Guid="4A24E8E6-03DF-4D7F-9080-21F18791256C" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_359592662_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1983675548_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_609291915_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_NCmdLiner_dll_1409600918_WixComponent" Guid="8D0512D7-BDF0-42FA-9FD5-8CE19A783163" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_919256921_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_410515732_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_NCmdLiner_dll_1766062887_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NCmdLiner.dll" />
      </Component>
      <Component Id="Id_Newtonsoft_Json_dll_755271468_WixComponent" Guid="92B016D8-27B6-4979-AC89-F89463A4FAD2" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_759473074_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_787960964_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_Newtonsoft_Json_dll_80099307_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\Newtonsoft.Json.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_638115774_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_476207824_WixComponent" Guid="B3AC7C57-36C8-487F-88D4-FD5528B36C2C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2128264444_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1003549141_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1700939262_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_365660114_WixComponent" Guid="4F4B7F44-9341-45AA-99BF-F2EE9752140C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1199050150_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1053443035_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1579682863_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_540547301_WixComponent" Guid="1884535D-BAA6-4C67-A3E3-1EBBC5F460C6" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_310367012_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1738839596_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_114415388_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_dll_1085682150_WixComponent" Guid="209DEAFB-4169-45FC-A0BD-5C3BAE8F36F8" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_585098547_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_362117331_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_313406778_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_183668313_WixComponent" Guid="E95743BA-6A95-49D5-BDA4-415963C5C16C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_94620975_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_376143459_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_966228339_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_log4net_dll_1200033785_WixComponent" Guid="D6BD545A-F722-4B48-926E-CBFB92617B5F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1206421243_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1409894057_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_1394349353_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1087564515_WixComponent" Guid="BB5201E6-BA13-4806-8A9D-8A01C7ED1632" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_314055519_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_53389193_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_2137343377_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_278855361_WixComponent" Guid="9B71A17D-7C0D-4E9A-A6F9-7FEF783B2BCF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_404812016_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_845095928_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_938915462_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1586628288_WixComponent" Guid="020C0A09-4EE5-4164-97A6-3DEA3390CD6E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_817531959_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1283034755_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1469206756_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_6291788_WixComponent" Guid="C1DA6ECA-CB46-4609-BE77-274D7FEF205E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_825439157_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_173794410_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1700278386_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1435435518_WixComponent" Guid="50A261F6-3F43-49E5-B62C-25123F971C03" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_122505821_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_905062814_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_49225650_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_244835952_WixComponent" Guid="71D8DA8A-71F2-4C3F-AE8F-2E326BD32FD1" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_494876527_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_323918768_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_334158374_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_48398401_WixComponent" Guid="937C0A22-6DF2-4499-BA7C-441238F20694" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1452656109_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_571603155_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_664852099_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_411817505_WixComponent" Guid="3EBBE14F-3C5E-49CB-AC59-4516B7FD1B70" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1261354615_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1585565636_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_1417270228_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_718370387_WixComponent" Guid="9B3C324A-D340-40D4-BD8E-348B50C96ACD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1756683435_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_613374747_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_51604595_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_1145660957_WixComponent" Guid="F699FA0C-EBCD-4202-98EA-269F7A0E7DD9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1063583305_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1300827502_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_135735285_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1612754731_WixComponent" Guid="89E687D0-4DB9-4D97-8E97-04BD1224DC29" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_799924134_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_675270747_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_268150191_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1449547439_WixComponent" Guid="216F5FE3-815F-4881-A292-A41DC89F152E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1040394222_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_307114989_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_1505712803_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github\Script.Install.Creator\bin\Release\Script.Install.Creator\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_AutoMapper_dll_1127988348_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1769486719_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_972646114_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_1604569002_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1759242579_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_539454524_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1445610115_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1409600918_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_755271468_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_476207824_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_365660114_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_540547301_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_1085682150_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_183668313_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1200033785_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1087564515_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_278855361_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1586628288_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_6291788_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1435435518_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_244835952_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_48398401_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_411817505_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_718370387_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_1145660957_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1612754731_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1449547439_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>